In [ ]:
import pandas as pd
import re 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import fnmatch
from yelpapi import YelpAPI
import json
from decimal import *
from pathlib import Path

%matplotlib inline

In [ ]:
pov_data = pd.read_excel('../Data/poverty_rates.xlsx', sheet_name = 'Percents', header = 2)
pov_data

#bringing in data from census

In [ ]:
pov_data.info()   #making sure numbers are the correct type

In [ ]:
pov_data[['Cheatham County, TN', 'Error', 'Davidson County, TN', 'Error.1', 'Dickson County, TN', 'Error.2', 'Maury County, TN', 'Error.3', 'Montgomery County, TN', 'Error.4', 'Robertson County, TN', 'Error.5', 'Rutherford County, TN', 'Error.6', 'Sumner County, TN', 'Error.7', 'Williamson County, TN', 'Error.8', 'Wilson County, TN', 'Error.9']] = pov_data[['Cheatham County, TN', 'Error', 'Davidson County, TN', 'Error.1', 'Dickson County, TN', 'Error.2', 'Maury County, TN', 'Error.3', 'Montgomery County, TN', 'Error.4', 'Robertson County, TN', 'Error.5', 'Rutherford County, TN', 'Error.6', 'Sumner County, TN', 'Error.7', 'Williamson County, TN', 'Error.8', 'Wilson County, TN', 'Error.9']].apply(lambda x: x*100)
pov_data

#updating column titles

In [ ]:
pov_data.round(2)  #rounding numbers to 2 decimal places

In [ ]:
pov_data.drop(columns = ['Error', 'Error.1', 'Error.2', 'Error.3', 'Error.4', 'Error.5', 'Error.6', 'Error.7', 'Error.8', 'Error.9',])

In [ ]:
pov_data.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/pov.csv')

In [ ]:
with open('keys.json') as fi:
    credentials = json.load(fi)
    
#calling in yelp api and secret id

In [ ]:
api_key = credentials['yelp_key']
client_id = credentials['yelp_id']
yelp_api = YelpAPI(api_key)

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
parks = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'park', location = location, search_limit = 20, offset = x)
        parks.append(response)
        print(len(parks))
        
#creating loop. made list of locations to run through. group is how many time to run through for the offset (only gives 20
# without offset changing). created list of parks to store found results in. 
#loop goes through to find parks in all the locations listed and is going through yelp until reaching the 500 limit
#then appending it to add it each loop to the parks list.
#printing list to check that it is changing after each loop

In [ ]:
parks[1]     #checking to see what the parks list looks like. It is a list of dicts of 20 parks

In [ ]:
parks_df = pd.DataFrame()

for park in range(len(parks)):
    df = pd.DataFrame(parks[park]['businesses'])
    parks_df = parks_df.append(df)
    print(parks_df.shape)
    
#creating a df for response to go into
#looking for parks in the range of the length of parks
#putting each dict within park into a df
#then appending parks_df so each dict that was turned into a df goes into the new parks_df each loop
#printing shape to see that it is grabbing more dicts from parks

In [ ]:
parks_df   #checking to ensure it is a df and running correctly/how many rows

In [ ]:
parks_df = parks_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
parks_df

In [ ]:
parks_df[parks_df.duplicated(subset = 'name', keep = 'first')]

In [ ]:
parks_df[parks_df['name']== 'Shelby Park']   #checking random park to see if duplicates should be deleted
                                             #did this with a few parks. all have multiple repeats

In [ ]:
parks_df = parks_df.drop_duplicates(subset = 'name', keep = 'first')  #dropping duplicate name and keeping first occurence
parks_df

In [ ]:
parks_df = parks_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
parks_df

In [ ]:
parks_df[305:350]

In [ ]:
parks_df = parks_df.drop([27,61,69,86,98,112,117,121,127,133,145,149,150,152,161,163,175,176,183,185,186,192,194,201,203,208,210,215,217,222,229,230,237,239,243,254,255,257,258,259,260,261,266,267,270,271,272,281,285,287,296,297,298,299,300,301,302,313,315,316,320,330,334,341,342,345])
parks_df

In [ ]:
parks_df = parks_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
parks_df

In [ ]:
parks_df['category'] = 'park'
parks_df

In [ ]:
parks_df.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/yelp_parks.csv')

In [ ]:
#now will repeat similar process to gather other activites for families in the 10 counties

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
museums = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'museums', location = location, search_limit = 20, offset = x)
        museums.append(response)
        print(len(museums))

In [ ]:
museums_df = pd.DataFrame()

for museum in range(len(museums)):
    df = pd.DataFrame(museums[museum]['businesses'])
    museums_df = museums_df.append(df)
    print(museums_df.shape)

In [ ]:
museums_df

In [ ]:
museums_df = museums_df.reset_index(drop=True)   
museums_df

In [ ]:
museums_df[museums_df.duplicated(subset = 'name', keep = 'first')]

In [ ]:
museums_df = museums_df.drop_duplicates(subset = 'name', keep = 'first')  
museums_df

In [ ]:
museums_df = museums_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
museums_df

In [ ]:
museums_df = museums_df.drop([18,21,35,45,49,54,62,65,69,83,85,86,89,96,97,102,104,105,106,107,108,109,110,111,112,113,115,117,120,121,124,126,127,128,130,131,132,133,134,135,138,139,140,141,142,156,164,165,166,171,172,173])
museums_df
#removing all rows that are not museums

In [ ]:
museums_df = museums_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
museums_df

In [ ]:
museums_df['category'] = 'museum/landmark'
museums_df

In [ ]:
museums_df.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/yelp_museums.csv')

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
landmarks = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'landmarks', location = location, search_limit = 20, offset = x)
        landmarks.append(response)
        print(len(landmarks))

In [ ]:
landmarks_df = pd.DataFrame()

for landmark in range(len(landmarks)):
    df = pd.DataFrame(landmarks[landmark]['businesses'])
    landmarks_df = landmarks_df.append(df)
    print(landmarks_df.shape)

In [ ]:
landmarks_df = landmarks_df.reset_index(drop=True)   
landmarks_df

#seeing that most rows are not landmarks and have already been grabbed in museum search

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
libraries = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'libraries', location = location, search_limit = 20, offset = x)
        libraries.append(response)
        print(len(libraries))

In [ ]:
libraries_df = pd.DataFrame()

for library in range(len(libraries)):
    df = pd.DataFrame(libraries[library]['businesses'])
    libraries_df = libraries_df.append(df)
    print(libraries_df.shape)

In [ ]:
libraries_df = libraries_df.drop_duplicates(subset = 'name', keep = 'first')  
libraries_df = libraries_df.reset_index(drop=True)  
libraries_df

In [ ]:
libraries_df[30:66]

In [ ]:
libraries_df = libraries_df.drop([36,37,38,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,60])
libraries_df

In [ ]:
libraries_df = libraries_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
libraries_df

In [ ]:
libraries_df['category'] = 'library'
libraries_df

In [ ]:
libraries_df.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/yelp_libraries.csv')

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
arcades = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'arcades', location = location, search_limit = 20, offset = x)
        arcades.append(response)
        print(len(arcades))

In [ ]:
arcades_df = pd.DataFrame()

for arcade in range(len(arcades)):
    df = pd.DataFrame(arcades[arcade]['businesses'])
    arcades_df = arcades_df.append(df)
    print(arcades_df.shape)

In [ ]:
arcades_df = arcades_df.drop_duplicates(subset = 'name', keep = 'first')  
arcades_df = arcades_df.reset_index(drop=True)  
arcades_df

In [ ]:
arcades_df[100:112]

In [ ]:
arcades_df = arcades_df.drop([3,14,19,20,28,39,43,45,48,50,51,52,54,56,60,61,62,64,66,69,70,71,74,75,78,79,81,82,83,87,89,90,92,94,95,98,99,100,103,105])
arcades_df

In [ ]:
arcades_df = arcades_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
arcades_df

In [ ]:
arcades_df['category'] = 'other'
arcades_df

In [ ]:
arcades_df.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/yelp_arcades.csv')

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
family_friendly = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'family_friendly', location = location, search_limit = 20, offset = x)
        family_friendly.append(response)
        print(len(family_friendly))

In [ ]:
family_friendly_df = pd.DataFrame()

for family_friend in range(len(family_friendly)):
    df = pd.DataFrame(family_friendly[family_friend]['businesses'])
    family_friendly_df = family_friendly_df.append(df)
    print(family_friendly_df.shape)

In [ ]:
family_friendly_df = family_friendly_df.drop_duplicates(subset = 'name', keep = 'first')  
family_friendly_df = family_friendly_df.reset_index(drop=True)  
family_friendly_df

In [ ]:
family_friendly_df = family_friendly_df.drop([])
family_friendly_df

#not able to look through large df for this one. seeing restaurants, plumbing, mortage brokers. Will search just
#restaurants instead to give the option for families

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
family_deals = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'family_deals', location = location, search_limit = 20, offset = x)
        family_deals.append(response)
        print(len(family_deals))

In [ ]:
family_deals_df = pd.DataFrame()

for family_deal in range(len(family_deals)):
    df = pd.DataFrame(family_deals[family_deal]['businesses'])
    family_deals_df = family_deals_df.append(df)
    print(family_deals_df.shape)

In [ ]:
family_deals_df = family_deals_df.drop_duplicates(subset = 'name', keep = 'first')  
family_deals_df = family_deals_df.reset_index(drop=True)  
family_deals_df

In [ ]:
family_deals_df = family_deals_df.drop([])
family_deals_df
#most are restaurants for family deals so will not use this and again use the restaurant search instead.

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
children_free = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'children_free', location = location, search_limit = 20, offset = x)
        children_free.append(response)
        print(len(children_free))

In [ ]:
children_free_df = pd.DataFrame()

for children_fre in range(len(children_free)):
    df = pd.DataFrame(children_free[children_fre]['businesses'])
    children_free_df = children_free_df.append(df)
    print(children_free_df.shape)

In [ ]:
children_free_df = children_free_df.drop_duplicates(subset = 'name', keep = 'first')  
children_free_df = children_free_df.reset_index(drop=True)  
children_free_df

In [ ]:
children_free_df = children_free_df.drop([])
children_free_df

#not very helpful/does not seem to be children are free but a child care establishment. will not use but instead
#search for childcare for families

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
restaurants = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'restaurants', location = location, search_limit = 20, offset = x)
        restaurants.append(response)
        print(len(restaurants))

In [ ]:
restaurants_df = pd.DataFrame()

for restaurant in range(len(restaurants)):
    df = pd.DataFrame(restaurants[restaurant]['businesses'])
    restaurants_df = restaurants_df.append(df)
    print(restaurants_df.shape)

In [ ]:
restaurants_df = restaurants_df.drop_duplicates(subset = 'name', keep = 'first')  
restaurants_df = restaurants_df.reset_index(drop=True)  
restaurants_df

In [ ]:
restaurants_df = restaurants_df.drop([])
restaurants_df

#quick look, assuming all are restaurants. too large to go through.

In [ ]:
restaurants_df = restaurants_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
restaurants_df

In [ ]:
restaurants_df['category'] = 'restaurant'
restaurants_df

In [ ]:
restaurants_df.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/yelp_restaurants.csv')

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
childcare = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'childcare', location = location, search_limit = 20, offset = x)
        childcare.append(response)
        print(len(childcare))

In [ ]:
childcare_df = pd.DataFrame()

for childcar in range(len(childcare)):
    df = pd.DataFrame(childcare[childcar]['businesses'])
    childcare_df = childcare_df.append(df)
    print(childcare_df.shape)

In [ ]:
childcare_df = childcare_df.drop_duplicates(subset = 'name', keep = 'first')  
childcare_df = childcare_df.reset_index(drop=True)  
childcare_df

In [ ]:
childcare_df[0:50]

In [ ]:
childcare_df = childcare_df.drop([30,53,56,64,67,75,77,79])
childcare_df

In [ ]:
childcare_df = childcare_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
childcare_df

In [ ]:
childcare_df['category'] = 'childcare'
childcare_df

In [ ]:
childcare_df.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/yelp_childcare.csv')

In [ ]:
locations = ['Cheatham County, TN', 'Davidson County, TN', 'Dickson County, TN', 'Maury County, TN', 'Montgomery County, TN', 'Robertson County, TN', 'Rutherford County, TN', 'Sumner County, TN', 'Williamson County, TN', 'Wilson County, TN']
group = np.arange(0,500,20)
movie_theaters = []

for location in locations:
    for x in group:
        response = yelp_api.search_query(term = 'movie theater', location = location, search_limit = 20, offset = x)
        movie_theaters.append(response)
        print(len(movie_theaters))

In [ ]:
movie_theaters_df = pd.DataFrame()

for movie_theater in range(len(movie_theaters)):
    df = pd.DataFrame(movie_theaters[movie_theater]['businesses'])
    movie_theaters_df = movie_theaters_df.append(df)
    print(movie_theaters_df.shape)

In [ ]:
movie_theaters_df = movie_theaters_df.drop_duplicates(subset = 'name', keep = 'first')  
movie_theaters_df = movie_theaters_df.reset_index(drop=True)  
movie_theaters_df

In [ ]:
movie_theaters_df[50:88]

In [ ]:
movie_theaters_df = movie_theaters_df.drop([30,31,35,39,40,42,43,44,45,46,47,48,49,50,51,52,53,55,57,59,60,61,62,63,74,79])
movie_theaters_df

In [ ]:
movie_theaters_df = movie_theaters_df.reset_index(drop=True)    #reset index and dropped previous index so it did not become a column
movie_theaters_df

In [ ]:
movie_theaters_df['category'] = 'theater'
movie_theaters_df

In [ ]:
movie_theaters_df.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/yelp_movie_theaters.csv')

In [ ]:
dflist = [parks_df, museums_df, libraries_df, arcades_df, restaurants_df, childcare_df,movie_theaters_df]

places_df = pd.concat(dflist)
places_df

In [ ]:
places_df = places_df.drop_duplicates(subset = 'name', keep = 'first')  
places_df = places_df.reset_index(drop=True)
places_df['zipcode'] = places_df.location.str[-8:-3]
places_df

In [ ]:
places_df.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/yelp_places.csv')

In [ ]:
pov_data.to_csv('C:/Users/kahar/Documents/NSS/Capstone/low_cost_family_activities/Data/pov_data.csv')